/* #user-login{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
#user-login>input{
    margin-bottom: 5px;
    padding: 5px;
}

#login{
    width: 60px;
    margin: auto;
    padding: 5px;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.login {
    display: flex;
}

.left {
    background-color: white;
    /* border: 1px solid black; */
    width: 50%;
    height: 50%;

}

#text {
    color: #3751FE;
    font-family: "Open Sans", sans-serif;
    margin-left: 10%;
    margin-top: 30px;

}


#heading {
    margin-top: 10%;
    color: #3751FE;
    margin-left: 10%;
    text-wrap: wrap;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    line-height: 10px;
}

#heading-two {
    color: #3751FE;
    margin-left: 10%;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    line-height: normal;
}

#heading-three {
    margin-left: 10%;
    font-family: "Roboto", sans-serif;
    color: #5a5858;
}

.user-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10%;
    /* gap: 10px; */
    position: relative;
}

#email {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;

}

#email:focus {
    border-left: 3px solid #3751FE;

}

#email-text {
    position: absolute;
    top: 2px;
    left: 8px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;
}


#password {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;
}

#password:focus {
    border-left: 3px solid #3751FE;
}

#password-text {
    position: absolute;
    top: 50px;
    left: 8px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;
}

#confirmPassword {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;
}

#confirmPassword:focus {
    border-left: 3px solid #3751FE;
}

#confirmPassword-text {
    position: absolute;
    top: 100px;
    left: 8px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;


}

.login-buttons {
    display: flex;

}

#message {
    position: absolute;
    margin-left: 80px;
    margin-top: 10px;
}

#login {
    border: none;
    background-color: #3751FE;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-left: 10%;
    padding: 10px;
    padding-left: 30px;
    text-align: center;
    padding-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
}

#signUp {
    border: 1px solid #3751FE;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #3751FE;
    margin-left: 5%;
    padding: 10px;
    padding-left: 30px;
    text-align: center;
    padding-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
}

#home {
    border: 1px solid #3751FE;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #3751FE;
    margin-left: 2%;
    padding: 10px;
    padding-left: 30px;
    text-align: center;
    padding-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
}

/* #email::placeholder{
    position: absolute;
    color: #5a5858;
    top: 5px;
   font-family: "Roboto", sans-serif;
} */
.right {
    /* background-color: #e5e5e5; */
    /* border: 1px solid black; */
    /* width: 50%; */
    height: auto;
    /* height: 50%; */
    background-image: url("./image-background.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 500px;
    width: 500px;
    height: 500px;
    /* background-position-y:60px; */
    /* background-position: center top 50px;
    background-position: center left 1px; */
}


.user-buttons {
    margin: 40px;
    display: flex;
    gap: 30px;

}

/* #home {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    text-decoration-color: #3751FE;
    cursor: pointer;
} */

#about-us {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    #text {
        margin-top: 5px;
        margin-bottom: 1px;
    }

    #heading {
        margin-top: 5px;
        width: 90%;
    }

    #heading {
        line-height: 30px;

    }

    .user-login {
        width: 85%;


    }

}