/* #user-signup{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

#user-signup>input{
    margin-bottom: 5px;
    padding: 5px;
}
#signup{
    width: 60px;
    margin: auto;
    padding: 5px;
}

#redirectToLogin{
    cursor: pointer;
    text-decoration: underline;
} */
 /* First Name */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




.user-signup {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 10%;
    /* gap: 10px; */
    position: relative;
    margin: auto;
}
#heading{
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1px;
}
#text{
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 1px;
}
#firstName {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;
}
#firstName:focus {
    border-left: 3px solid #3751FE;
}
#firstName-text {
    position: absolute;
    top: 2px;
    left: 10px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;
}

/* Last Name */
#lastName {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;
}
#lastName:focus {
    border-left: 3px solid #3751FE;
}
#lastName-text {
    position: absolute;
    top: 50px;
    left: 8px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;
}
#email {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;

}

#email:focus {
    border-left: 3px solid #3751FE;

}

#email-text {
    position: absolute;
    top: 100px;
    left: 8px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;
}
#password {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;
}

#password:focus {
    border-left: 3px solid #3751FE;
}

#password-text {
    position: absolute;
    top: 145px;
    left: 8px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;
}

#confirmPassword {
    padding-top: 20px;
    padding-left: 8px;
    outline: none;
    color: #3751FE;
    font-size: large;
    font-family: "Roboto", sans-serif;
}

#confirmPassword:focus {
    border-left: 3px solid #3751FE;
}

#confirmPassword-text {
    position: absolute;
    top: 195px;
    left: 8px;
    margin: auto;
    font-size: small;
    color: #5a5858;
    font-family: "Roboto", sans-serif;


}

/* Signup Button */

#redirectToLogin{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}
#signup {
    border: 1px solid #3751FE;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #3751FE;
    /* margin-left: 10%; */
    padding: 10px 30px;
    /* margin-top: 30px; */
    cursor: pointer;
    border-radius: 3px;
}
#signup:hover {
    background-color: #3751FE;
    color: white;
}

@media screen and (max-width:576px){
    .user-signup{
        width: 90%;
        margin-top: 10px;
    }
}